#Data files pulled from #1001 Genomes
quality_variant_*

#Reference genome
TAIR*

#IQ Tree files that we don't care about
*uniqueseq.phy
*ckp.gz

#Alignment files
*.phy

#__pycache__
/scripts/__pycache__/*
